.media-embeddable {
  margin-bottom: 15px;
  overflow: hidden;
}

.media-embeddable.responsive {
  position: relative;
}

.media-embeddable .twitter-tweet iframe {
  width: 100% !important;
}

.media-embeddable.responsive > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
